In [1]:
import json
import numpy as np
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('output_1850_tess.csv')

In [3]:
df.replace('', np.nan, inplace=True)
df = df.replace({'â€œ':''}, regex=True)
df= df.replace({'â€�':''}, regex=True)
df = df.replace({'â€”':''}, regex=True)

In [5]:
len(df[df['Full Name'].isna()])

0

In [6]:
len(df[df['Full Address'].isna()])

0

In [11]:
# READ OLD DATA
with open('bk_1850_final_output.pkl', 'rb') as f:
    df_abbyy = pickle.load(f)

In [12]:
df_abbyy = pd.DataFrame.from_dict(df_abbyy)
# df_abbyy.tail()

In [9]:
# df_abbyy = df_abbyy.transpose()

In [13]:
len(df_abbyy)

15357

In [14]:
final_df = df.append(df_abbyy[~df_abbyy['Full Name'].isin(df['Full Name'])])
# final_df

In [15]:
len(final_df[final_df['Full Name'].isna()])

0

In [16]:
len(final_df[final_df['Full Address'].isna()])

0

In [17]:
len(final_df)

15676

In [18]:
len(final_df)

15676

In [19]:
len(final_df[final_df['Full Name'].isna()])

0

In [20]:
len(final_df[final_df['Full Address'].isna()])

0

## investigating abbyy output

In [21]:
len(df_abbyy.loc[df_abbyy.astype(str).drop_duplicates().index])

15357

In [22]:
t = df_abbyy.loc[df_abbyy.astype(str).drop_duplicates().index]

In [23]:
len(t[~t['Full Name'].isna()])

15357

In [24]:
len(t[~t['Full Address'].isna()])

15357

## final dataset

In [25]:
len(final_df)

15676

In [26]:
final_df.head()

,Unnamed: 0,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,Full Address,...,H Address,H House Number,H Street Name,H City,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City,Index,Full Entry
0,1.0,Abberly Richard,Richard,Abberly,NaN,False,NaN,NaN,shoemaker,168 Hudson av,...,168 Hudson av,168,168 Hudson av,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Abberly Samuel,Samuel,Abberly,NaN,False,NaN,NaN,NaN,mason Dean n Vanderbilt av,...,mason Dean n Vanderbilt av,NaN,NaN,"['mason', 'Dean', 'n', 'Vanderbilt', 'av']",NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Abbey A C,A,Abbey,C,False,NaN,NaN,carpenter,82 Poplar,...,82 Poplar,82,82 Poplar,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,"Aessy Horatio G , Columbia Institute for the",Horatio,Aessy,G,False,NaN,NaN,NaN,education of,...,education of,NaN,NaN,"['education', 'of']",NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,Abbey WS,WS,Abbey,NaN,False,NaN,NaN,NaN,merchant N Â¥ h Union n Court,...,merchant N Â¥ h Union n Court,NaN,NaN,"['merchant', 'N', 'Â¥', 'h', 'Union', 'n', 'Co...",NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
final_df = final_df.drop(['Unnamed: 0'], axis=1)
final_df.head(3)

,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,Full Address,H Status-flag,H Address,H House Number,H Street Name,H City,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City,Index,Full Entry
0,Abberly Richard,Richard,Abberly,NaN,False,NaN,NaN,shoemaker,168 Hudson av,Assume,168 Hudson av,168,168 Hudson av,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abberly Samuel,Samuel,Abberly,NaN,False,NaN,NaN,NaN,mason Dean n Vanderbilt av,Assume,mason Dean n Vanderbilt av,NaN,NaN,"['mason', 'Dean', 'n', 'Vanderbilt', 'av']",NaN,NaN,NaN,NaN,NaN,NaN
2,Abbey A C,A,Abbey,C,False,NaN,NaN,carpenter,82 Poplar,Assume,82 Poplar,82,82 Poplar,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
final_df.to_csv('BK_1850_final_output_tesseract.csv')

In [29]:
len(final_df)

15676

In [152]:
len(final_df[final_df['Full Name'].isna()])

0

In [153]:
len(final_df[final_df['Full Address'].isna()])

1

In [154]:
len(df_abbyy)

113606

In [155]:
len(df_abbyy[df_abbyy['Full Name'].isna()])

0

In [156]:
len(df_abbyy[df_abbyy['Full Address'].isna()])

0